html {
    display: inline-block;
}
body {
    --red-color: #FF5849;
    --red-color: #E85659;
    --grey-color: #F3F3F3;
    --page-padding-left: 80px;
    background-color: #F3F3F3;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

h1 {
    padding-top: 20px;
    padding-left: 40px;
    padding-left: var(--page-padding-left);
    padding-right: var(--page-padding-left);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 300%;
    color: #424242;
    font-family: Tahoma;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 3px;
    padding-top: 8px;
    padding-left: 10px;
    font-family: fantasy;
    font-family: Gill Sans, sans-serif;
}

h1.active {
    padding-left: 8%;
}

h1.raffle-page {
    padding-left: 8%;
    padding-bottom: 20px;
}

h1.expired {
    color: darkgrey;
    padding-left: 8%;
}

.sdescription {
    padding-left: 10px;
    padding-bottom: 15px;
}

.first {
    margin-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.sprizes {
    padding-left: 20px;
    overflow: hidden;
    width: 60%;
    height: 18px;
}

.header {
    overflow: hidden;
    background-color: #FF1F26;
    background-color: var(--red-color);
    padding: 20px 10px;
    box-shadow: 0 0em 0.4em #732A2C;
    /*position: relative;*/
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }

    .header .logo {
        font-family: Impact;
        font-size: 40px;
        font-weight: bold;
        color: white;
        padding: 13px;
        display: block;
        flex-shrink: 0;

        position: absolute;
        left:0;
    }

    .header .logo:hover {
        background-color: white;
        background-color: var(--grey-color);
        color: red;
        color: #FF1F26;
        color: var(--red-color);
    }

    .header .options {
        /*margin-left: 20%;*/
        /*margin-left: 20px;*/
        width: 780px;
        height: 50px;
        display: block;
    }

    .header a.option {
        font-size: 25px;
        font-weight: bold;
        margin-left: 0%;
        color: white;
        margin-right: 5px;
    }

        .header a.option:hover {
            background-color: white;
            color: red;
            color: var(--red-color);
            box-shadow: 0 0em 0.3em #732A2C;
        }
    .header a.optionActive {
        font-size: 25px;
        font-weight: bold;
        margin-left: 0%;
        background-color: white;
        color: var(--red-color);
        box-shadow: 0 0em 0.3em #732A2C;
        margin-right: 5px;
    }

    .header a.active {
        background-color: dodgerblue;
        color: white;
    }

#options-icon {
    width: 40px;    
    border-radius: 8px;
    padding: 7px 4px;
    display: none;
    border: 1px solid transparent;
}

    #options-icon:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
        /*border-color: #E88879;*/
        border-color: white;
    }

.header-right {
    float: right;
    flex-shrink: 0;
    position: absolute;
    right: 0;
}

#logo-container {
    position: relative;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
}

#profile-container {
    position: relative;
    width: 340px;
    height: 50px;
    flex-shrink: 0;
}

.main-content {
    background-color: white;
    margin: 0 auto;
    padding-top: 0%;
    box-shadow: 0 0.45em 0.5em #000;
    min-height: 100vh;
    width: 1000px;
    border: 1px solid transparent;
}

.main {
    height: 100%;
    background-color: #F3F3F3;
    padding: 0;
}

.raffle {
    background-color: #F5F5F5;
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
    border-color: #858585;
    /*width: 2fr;*/
    height: 350px;
    /*float: left;*/
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*text-decoration: none;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .raffle:hover {
        border-color: white;
        border-color: transparent;
        color: #B03D3F;
        color: #4A4A4A;
        color: #421718;
        color: #421C2C;
        background-color: #FfFfFf;
        box-shadow: 0 .1em 0.5em #000;
    }

    .raffle h3 {
        overflow: hidden;
    }

#add-raffle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(150,20,20,0.4);
}

    #add-raffle:hover {
        background-color: rgba(200,20,20,0.1);
    }

.tiles {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px 40px;
    margin-top: 0%;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 10px;
    width: 300px;
    margin-top: 50px;
    box-shadow: 0 .1em 0.5em #000;
    padding: 20px;    
}

.login {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 280px;
    height: 2em;
    margin-bottom: 5px;
    font-size: 15px;
}

    .login focus {
        border-color: grey;
    }

.api-key {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 280px;
    height: 2em;
    margin-bottom: 5px;
    font-size: 15px;
}


.login-btn {
    padding: 5px;
    background: #ccc;
    border: 0px none;
    cursor: pointer;    
    border-radius: 5px;
    width: 294px;
    height: 2.5em;
    font-size: 15px;
    margin-top: 15px;
}
    .login-btn:hover {
        background-color: lightgrey;
        border: 2px solid;
        border-color: cornflowerblue;
    }


.raffles-buttons {

    pointer-events: none;
}

.add-new-raffle {
    color: indianred;
    display: block;
    width: 80px;
    /*margin: 0 auto;*/
    font-family: Gill Sans, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 1280px) {
    .header .options {
        /*margin-left: 20%;*/
        /*margin-left: 20px;*/
        /*width: 1000px;*/
        flex-grow: 1;
    }
}

@media (max-width: 1000px) {
    #logo-container {
        display: none;
    }

    #tabs {
        width: 50%;
    }

    #profile-container {
        width: 50%;
        /*display: block;*/
        flex-wrap: nowrap;
    }

    .header-right img {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .tiles {
        padding: 10px 10px;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 10px 10px;
        justify-content: start;
    }

    #logo {
        padding: 12px 4px;
    }

    #options-icon {
        display: block;
    }

    #logo-container {
        display: block;
    }

    #tabs {
        display: none;
    }

    #profile-container {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .header a {
    float: none;
    display: block;
    text-align: left;
}

.header-right {
    float: none;
}
}
