@*<form method="post" enctype="multipart/form-data">
        <table class="auth">
            <tr><td>
                <h2>Вход</h2>
            </td></tr>
            <tr><td>
                <input type="text" class="login" name="userEmail" placeholder="Почта" />
            </td></tr>
            <tr><td>
                <input type="text" class="login" name="" placeholder="Пароль" />
            </td></tr>
            <tr><td>
                <input type="submit" class="login-btn" value="Войти" />
            </td></tr>
            <tr><td>
                <a class="sign-in" href="">Регистрация</a>
            </td></tr>
        </table>
    </form>*@



<form class="auth" method="post" enctype="multipart/form-data">
    <h2>Вход</h2>
    <input type="text" class="login" name="userEmail" placeholder="Почта" />
    <input type="text" class="login" name="" placeholder="Пароль" />
    <input type="submit" class="login-btn" value="Войти" />
    <a href=""><p>Регистрация</p></a>
</form>
