
<form method="post" enctype="multipart/form-data">
    <table class="auth">
        <tr>
            <td>
                <h2>Вход</h2>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="login" name="userEmail" placeholder="Почта" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="login" name="" placeholder="Пароль" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="login-btn" value="Войти" />
            </td>
        </tr>
        <tr>
            <td>
                <p>Регистрация</p>
            </td>
        </tr>
    </table>
</form>
